html,body {
    background-color: #2A2D64;
    padding:0px;
    margin:0px;
    font-family: "Josefin Sans", Georgia, 'Times New Roman', Times, serif;
    height:100%;
}
.maincontent {
    padding-bottom: 3em;
    min-height:100%;
    margin-bottom:-3em;
    padding-bottom:6em;
}
main {
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    gap:3em;
    text-align:center;
    height:100%;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
section {
    width:100%;
}
.main-heading { 
    background-color: #1E2140;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    display:flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: center;
    gap:30%;
    width:100%;
    white-space: nowrap;
    overflow:hidden;
}
.header-text {
    color: #D4AF37;
    text-align: center;
    margin:auto;
    cursor:pointer;
}
.logsign {
    color: #FAF3E0;
    display:flex;
    flex-direction: row;
    align-items:center;
    font-weight: bold;
    justify-content:right;
    gap:2em;
    height:100%;
    width:10%;
    padding-right:1em;
    cursor:pointer;
}
.usersign {
    color: #FAF3E0;
    font-weight: bold;
    height:100%;
    width:10%;
    cursor:pointer;
}
.sidebar-btn {
    background-color: #1E2140;
    border: none;
    width:10%;
    text-align: left;
    padding-left:0.75em;
    height:4em;
}
.sidebar-btn > i {
    color:#FAF3E0;
    font-size:1.5em;
}
.search {
    position: relative;
    display:inline-block;
}
#searchbox {
    min-width: stretch;
    border:none;
    border-radius:10px;
    text-align:center;
    height:3em;
    width:40%;
    padding-left:1em;
}
#searchbox:focus {
    outline: none;
}
#searchbox:focus::placeholder {
    color:transparent
}
.searchbtn {
    background-color: transparent;
    border:none;
    cursor:pointer;
    vertical-align:middle;
}
.searchbtn > i {
    color: #1C1C1C;
    font-size:1.5em;
    flex-grow:0;
    margin-left:-2.5em;
}
.main-gallery {
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    gap:3em;
    text-align:center;
}
.carousel {
    display:flex;
    flex-flow:column nowrap;
    width:90%;
    color: #FAF3E0;
    background-color: #1E2140;
}
.carousel>h1 {
    text-align: left;
    margin-left:0.5em;
    margin-top:0.5em;
}
.carousel>a {
    width:5em;
    color: #FAF3E0;
    z-index:0;
}

.carousel-inner,.carousel-item,.multislide {
    height:100%;
    width:100%;
}
.multislide {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    padding:3em;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E2140;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    color: #FAF3E0;
  }
  
  .sidenav a {
    padding: 8px 8px 16px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FAF3E0;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #ada99b;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    filter: brightness(100%);
    transition: filter 0.3s;
  }
  .footer {
    background-color:#1E2140;
    height:3em;
    color: #FAF3E0;
    position: relative;
  }
  .footer > h2 {
    color: #FAF3E0;
    text-align:left;
    padding-top:0.5em;
    padding-left:1em;
  }
  .infopanel {
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    height:50%;
    width:90%;
    gap:1.5em;
  }
  .infopanel-small {
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    height:1%;
    width:90%;
    gap:1.5em;
    background-color:#1E2140;
    padding:1em;
  }
 .textpanel > div, .textpanel > p{
    margin-bottom:10px;
  }
  .nameheader {
    display: flex;
    flex-flow: row nowrap;
    gap:30px;
    align-items: center;
  }
  .pImage {
    height:auto;
    width:40%;
  }
  .textpanel > p, .nameheader > h1,.echit > p {
    color: #FAF3E0;
  }
  .toolbutton {
    color: #6C6F7F;
    font-weight:bold;
  }
  .toolbutton:hover {
    color: #FAF3E0;
    cursor: pointer;
  }
.textpanel {
    text-align: left;
    height:100%;
}
.echit {
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    gap: 25px;
}
.chit-btn {
    background-color: #FAF3E0;
    border:none;
    border-radius:10px;
    text-align:center;
    height:3em;
    margin-bottom:2em;
}
.main-gallery-small {
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    text-align:center;
}
.lessoninfo {
    text-align:left;
    color: #FAF3E0;
    width:90%;
}
.lessoninfo > p {
    font-size:2em;
    padding-bottom:0.75em;
}
.actionbutton {
    background-color: #FAF3E0;
    border:none;
    border-radius:20px;
    text-align:center;
    height:3em;
    width:20%;
    font-size:1.5em;
}
.actionbutton:hover {
    background-color: #ada99b;
}
#teachers, #lessons {
    color: #FAF3E0;
    text-align:left;
    width:90%;
}
.landingtitle {
    text-align: center;
    padding-top:15%;
}
.landingtitle > h1 {
    display:block;
    font-size: 3em;
}
.landingtitle > p {
    display:block;
    font-style:italic;
    color: #FAF3E0;
    margin-bottom: 3em;
}
.holder {
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    padding-top:1em;
}
.holder > div {
text-align: center;
}
#logsign {
    color: #FAF3E0;
    display:flex;
    justify-content: center;
    height:100%;
    width:100%;
    white-space: nowrap;
}
#login:hover,#signup:hover {
    cursor:pointer;
    color: #ada99b;
}
#form {
    color: #FAF3E0;
    background-color: #1E2140;
    width: 30%;
    height: 100%;
    text-align:left;
    padding-top: 2.5em;
    min-height: 20em;
}
.formbox {
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items:center;
    align-content: center;
    height:100%;
}
.formcontrol {
    width: 85%;
    text-align:left;
    border-radius: 10px;
    border:none;
    outline:none;
    padding-left: 10px;
    height: 3em;
}

.formcontrol:focus::placeholder {
    color: transparent;
}
.formboxlabel {
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:center;
    align-content: center;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
}
.inputlabel {
    text-align: left;
    width:85%;
    margin-top:1em;
    margin-bottom:0.25em;
    font-weight: bold;
}
.chitinputlabel {
    text-align: left;
    width:85%;
    margin-top:1em;
    margin-bottom:0.25em;
    font-weight: bold;
}
.formbox > h1 {
    margin-bottom:-0.5em;
    font-weight: bold;
}
#failed  {
    border-color:red;
    color:red;
}
.failed {
    border-color:red;
    color:red;
}
.submit {
    margin-bottom: 1em;
}
#filesubmit {
    display:flex;
    flex-flow:column nowrap;
    justify-content:left;
    text-align: left;
    width:85%;
    color: #FAF3E0;
}
.desc {
    width: 85%;
    text-align:left;
    border-radius: 10px;
    border:none;
    outline:none;
    padding-left: 10px;
    height: 6em;
}
.chitmatrix {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width:85%;
    gap:1em;
}
.chitlight {
    width:10em;
    background-color: #FAF3E0;
    color: #1C1C1C;
}
.chitlight:hover,.chitdark:hover {
    background-color: #ada99b;
}
.chitdark {
    width:10em;
    background-color: #1C1C1C;
    color: #FAF3E0;
}
.message {
    color:#FAF3E0;
    text-align:left;
    width:90%;
}
.messagecontainer {
    background-color:#1E2140;
    padding:1em 1em 1em 1.1em;
    margin-top: 3em;
}
.messagecontainer:hover {
    background-color: #1C1C1C;;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color:inherit;
}
#maintitle:hover {
    cursor:default;
}
a:hover {
    color: #ada99b;
}
.hiddencheck {
    display:none;
}
.chit-btn>label {
    position:absolute;
}
.onetoone {
    aspect-ratio: 1/1;
    width: 40em;
    object-fit: cover;
    border-radius:20px;
}
.cImage {
    aspect-ratio: 1/1;
    width: 300px;
    object-fit: cover;
    border-radius:20px;
}
.cImage:hover {
    cursor: pointer;
    filter:brightness(75%);
}
.main-gallery {
    position: relative;
}